.form {
    flex-direction: column;
    display: flex;
    margin: 10px;
}

.form-label {
    margin-bottom: 10px;
}

.cart-summary {
    float: right;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.total-price {
    font-size: 25px;
    margin: 0;
}